{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.9.0"},
    {ranch, "2.0.0"},
    {eredis, "1.0.8"},
    {jsx, "2.9.0"}
]}.

{profiles, [
    {test, [
        {cover_enabled, true},
        {cover_export_enabled, true},
        {cover, [
            {output_dir, "_build/test/cover"},
            {include, ["src"]}
        ]}
    ]}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [api]}
]}.
